body {
    background-color: #195A5F;
}

header {
    background-color: #F1BA56;
    height:130px;
}

p, a, th {
    font-family: 'Roboto', sans-serif;
    color: #195A5F;
}

table {
    table-layout:fixed;
    width: 100%;
}

th, td {
    padding: 8px;
}

td{
    text-overflow: ellipsis;
    word-wrap: break-word;
    background-color:#ffffff;
}

thead, th {
    background-color: #e8e8e8;
    text-align: center;
    position: sticky;
    top:0;
}

h2{
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  color: #195A5F;
  text-align: center;
}

h4 {
  text-align: center;
}

.logout {
    line-height:0;
    float: right;
    padding-top: 45px;
    padding-right: 345px;
    padding-bottom: 5px;
}

.user {
    color: #195A5F;
}

.title {
    font-family: 'Montserrat', sans-serif;
    padding-top: 10px;
    text-align: center;
    color: #F1BA56;
}

.section {
    background-color: #e8e8e8;
    height: 500px;
    overflow: hidden;
}

.btn {
    color: #195A5F;
}

.w3-modal-content {
    width: 500px;
}

/* Styling for the title of the report page */
.report-title {
  font-family: 'Montserrat', sans-serif;
  padding-top: 10px;
  text-align: center;
  color: #F1BA56;
  top:0;
}

/*Styling for accessibility buttons (Font Resizer and Dark Mode Toggle)*/
.access{
    float: right;
}

/*Dark mode styling for page body*/
.dark-modeBody {
    background-color: #1a1a1a;
    color: white;
}

/*Dark mode styling for logo*/
.dark-modeLogo {
    content:url(BrightSolidDark.png);
}

/*Dark mode styling for header*/
.dark-modeHeader {
    background-color: #181818;
    color: #F1BA56;
}

/*Dark mode styling for paragraphs*/
.dark-modeHeader p{
    color: #F1BA56;
}

/*Dark mode styling for table*/
.dark-modeTable {
    background-color: #3f3f3f;
}

/*Dark mode styling for table cells*/
.dark-modeCell tr{
    background-color: #696969;
}

/* Dark mode styling for table cells in the detailed report */
.dark-modeCellReport {
  background-color: #696969;
}

/*Dark mode styling for hovering over cells*/
.dark-modeCell tr:hover{
    background-color: #adadad;
    color: #000000;
}

/*Dark mode styling for buttons*/
.dark-modeButtons {
    background-color: #3f3f3f !important;
    color: #ffffff !important;
}

/*Dark mode styling for logout button*/
.dark-modeLogOut{
    background-color: none;
    color: #F1BA56;
}

/*Dark mode styling for modal header*/
.dark-modeModal header{
    background-color: #424242;
}

/*Dark mode styling for modal div*/
.dark-modeModal div{
    background-color: #6e6e6e;
}

/* Dark mode styling for the details section of the detailed report */
.dark-modeDetails {
    padding-left: 25px;
    padding-top: 10px;
    padding-right: 25px;
    padding-bottom: 10px;
    width: 350px;
    height: 350px;
    background-color: #3f3f3f;
}

.dark-modeDetails p{
  color: #F1BA56
}

.dark-modeDetails h2{
  color: #F1BA56
}


#logo {
    float: left;
    padding-left: 345px;
    padding-top: 45px;
    padding-bottom: 5px;
    height: 102px;
}

#left, #right {
    width: 925px;
}

#left {
    float: left;
    padding-top: 40px;
    padding-left: 120px;
}

#right {
    float: right;
    padding-top: 76px;
    padding-right: 120px;
}

#refresh {
    padding-top: 10px;
    text-align: center;
}

#righttitle {
    background-color: #e8e8e8;
    color: #195A5F;
}

#donutchart {
    width: auto;
    height: 500px;
    overflow:hidden;
}

#list{
    overflow: auto;
}

#details {
  padding-left: 25px;
  padding-top: 10px;
  padding-right: 25px;
  padding-bottom: 10px;
  width: 350px;
  height: 350px;
  background-color:#ffffff;
}

#exception-history {
  padding-left: 25px;
  padding-top: 10px;
  padding-right: 25px;
  padding-bottom: 10px;
  width: 350px;
  height: 350px;
  background-color:#ffffff;
}

#exception-management {
  padding-left: 25px;
  padding-top: 10px;
  padding-right: 25px;
  padding-bottom: 10px;
  width: 350px;
  height: 350px;
  background-color:#ffffff;
}

#exception-graph {
  padding-left: 25px;
  padding-top: 10px;
  padding-right: 25px;
  padding-bottom: 10px;
  width: 350px;
  height: 350px;
  background-color:#ffffff;
}

#report-table {
  padding-left: 50px;
  padding-right: 50px;
}

#return-btn {
  padding-left: 5px;
  padding-top: 5px;
}
