/* 
  This is a express pre-generated file. Used to style backend returned html pages (these would be test 
  pages to test functionality) 
*/

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}